@charset "utf-8";
.user--info--box{
  .name--box{
    padding-bottom: 2px;
  }
  .deliver{
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #ffffff;
    margin: 0 5px;
    vertical-align: baseline;
  }
  .edit--btn,.login--btn{
    cursor: pointer;
  }
}
.user-profile{
  padding-top: 14px   ;
}