@charset "utf-8";
.user--info--box{
  .name--box{
    padding-bottom: 2px;
  }
  .deliver{
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #ffffff;
    margin: 0 5px;
    vertical-align: baseline;
  }
  .edit--btn,.login--btn{
    cursor: pointer;
  }
}
.user-profile{
  padding-top: 14px;
  height: 100%;
  .show--menu--wrap{
    position: fixed;
    top: 64px;
    left: 80px;
    bottom: 0;
    //width: 320px;
    width: 250px;
    background: #637078;
    z-index: 9999;
    .head{
      display: inline-block;
      width: 100%;
      padding: 20px 20px 10px;
      color: #ffffff;
      font-size: 14px;
    }
    .node--name--box{
      padding: 0 0 0 48px;
    }
    .node--name{
      display: inline-block;
      width: 130px;
      color: #C5C6C8;
      font-size: 14px;
      margin-bottom: 5px;
      &:hover{
        color: #86BF64;
      }
      &.selected{
        color: #86BF64;
      }
      a{
        color: #C5C6C8 !important;
        padding: 0 !important;
        margin: 0 !important;
        &:hover{
          color: #86BF64 !important;
        }
      }
    }
  }
}
