<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile">
    <mat-nav-list appAccordion>
        <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected">
            <a  class=""  appAccordionToggle [routerLink]="['/',menuitem.state]"
                *ngIf="menuitem.type === 'link'">
                <mat-icon>
                    <i class=" {{ menuitem.icon }} left--sidebar--icon"></i>
                </mat-icon>
                <!-- <span>{{ menuitem.name }}</span> -->
                <span fxFlex></span>
                <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            </a>

            <div (mouseenter)="showMenu(menuitem)"  (mouseleave)="hideMenu(menuitem)">
                <a  [routerLink]="['/',menuitem.state]" style="display: none"></a>
                <a  class=""   appAccordionToggle
                    *ngIf="menuitem.type === 'drawer'">
                    <mat-icon>
                        <i class=" {{ menuitem.icon }} left--sidebar--icon"></i>
                    </mat-icon>
                    <!-- <span>{{ menuitem.name }}</span> -->
                    <span fxFlex></span>
                    <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
                </a>
                <div *ngIf="menuitem.showMenu" class="show--menu--wrap"  >
                    <ul *ngFor="let child of menuitem.children"  >
                        <span class="head">{{child.name}}</span>
                        <div class="node--name--box">
                            <ng-container *ngFor="let node of child.nodes">
                                    <li *ngIf="node.type!=='new_window'" routerLinkActive="selected" [queryParams]="node.queryParams" [routerLink]="['/',menuitem.state,node.state]" class="node--name">{{node.name}}</li>
                                    <li *ngIf="node.type=='new_window'" class="node--name">
                                        <a target="_blank" routerLinkActive="selected" [routerLink]="['/',node.state]" [queryParams]="node.queryParams">{{node.name}}</a>
                                    </li>
                            </ng-container>
                        </div>
                    </ul>
                </div>
            </div>

        </mat-list-item>
    </mat-nav-list>
    </div>
